@import "~bootstrap/scss/bootstrap.scss";

.bigCounter{
    text-align: center;
    margin-top: 45px;
    background-color: black;
}
.bigCounter div{
    display: inline-block;
    background-color: #0d0d0d;
    color: whitesmoke;
    font-size: 120px;
    line-height: 120px;
    padding: 15px;
    margin: 5px;
}
